<br>
<div id="content-1">
    <div class="container-fluid d-block">
        <div class="row justify-content-center align-items-center" style="height: 100px;">
            <div class="col-sm-6 col-md-4 text-center"><i class="fas fa-shopping-cart text-primary" style="font-size: 60px;"></i>
                <p></p>
                    <p>ขายสินค้า</p>
            </div>
            <div class="col-sm-6 col-md-4" style="text-align: center;"><i class="fas fa-book text-primary" style="font-size: 60px;text-align: center;"></i>
                <p></p>
                <p>บิลขาย</p>
            </div>
            <div class="col-sm-6 col-md-4" style="text-align: center;"><i class="fas fa-warehouse text-primary" style="font-size: 60px;"></i>
                <p></p>
                <p>คลังสินค้า</p>
            </div>
            <div class="col-sm-6 col-md-4 text-center"><i class="far fa-list-alt text-primary" style="font-size: 60px;"></i>
                <p></p>
                    <p>รายการสลิป</p>
            </div>
            <div class="col-sm-6 col-md-4" style="text-align: center;"><i class="far fa-chart-bar text-primary" style="font-size: 60px;text-align: center;"></i>
                <p></p>
                <p>รายงานการขาย</p>
            </div>
            <div class="col-sm-6 col-md-4" style="text-align: center;"><i class="fas fa-clipboard-check text-primary" style="font-size: 60px;"></i>
                <p></p>
                <p>รับสินค้า</p>
            </div>
        </div>
    </div>
</div>