<ul class="navbar-nav text-light" id="accordionSidebar">
    <li class="nav-item" ><a class="nav-link active" href="/users"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/users/sell"><i class="fa fa-shopping-cart"></i><span class="text-light">ขายสินค้า</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/users"><i class="fa fa-book"></i><span>บิลขาย</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/users/stock"><i class="fas fa-warehouse"></i><span>คลังสินค้า</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/users"><i class="far fa-list-alt"></i><span>รายการสลิป</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/users"><i class="fas fa-receipt"></i><span>รายงาน</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/users/recive"><i class="fas fa-clipboard-check"></i><span>รับสินค้า</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/users"><i class="far fa-user-circle"></i><span>ออกจากระบบ</span></a></li>
</ul>