<div class="container-fluid" style="padding-bottom: 30px;">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="fs-4 text-center">ยอดขายรวมวันนี้</h4>
            <h6 class="fs-5 text-center text-muted mb-2">31/3/2565 10.22 น.</h6>
            <h6 class="fs-6 text-center text-muted mb-2">Compelete #Value | Cancel #Value</h6>
        </div>
    </div>
    <div>
        <div class="row g-0">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body font-monospace">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center card-title">จำนวนเงินรวม</h4>
                                <p class="fs-4 text-center card-text">#Value</p>
                                <p class="text-center card-text">เงินสด฿/E-payment฿</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body font-monospace">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center card-title">จำนวนรวม</h4>
                                <p class="fs-4 text-center card-text">#Value<br></p>
                                <p class="text-center card-text">ชิ้น<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>