<div id="content-1">
    <section class="d-block">
        <div class="row justify-content-center align-items-center" style="height: 100px;">
            <div class="col-6 col-sm-4 col-md-4 text-center" style="height: 100px;"><a class="text-truncate text-center" href="/admin" style="text-decoration: none;"><i class="fas fa-exchange-alt text-success" style="font-size: 60px;"></i>
                    <p class="fs-6 text-dark">ปรับสต๊อก</p>
                </a></div>
            <div class="col-6 col-sm-4 col-md-4" style="text-align: center;"><a href="/admin" style="text-decoration: none;"><i class="fas fa-redo-alt text-success" style="font-size: 60px;text-align: center;"></i>
                    <p class="text-dark">ใบนับสต๊อก</p>
                </a></div>
            <div class="col-6 col-sm-4 col-md-4 text-success" style="text-align: center;"><a class="link-success" href="/admin" style="text-decoration: none;"><i class="far fa-star text-success" style="font-size: 60px;"></i>
                    <p class="text-dark">โปรโมชั่น</p>
                </a></div>
            <div class="col-6 col-sm-4 col-md-4 text-center text-success" style="height: 100px;"><a class="link-success" href="#" style="text-decoration: none;"><i class="fas fa-book text-success" style="font-size: 60px;"></i>
                    <p class="text-dark">บิลขาย</p>
                </a></div>
            <div class="col-6 col-sm-4 col-md-4 text-danger" style="text-align: center;"><a class="link-danger" href="/admin/product" style="text-decoration: none;"><i class="fas fa-tags text-success" style="font-size: 60px;text-align: center;"></i>
                    <p class="text-dark">จัดการสินค้า</p>
                </a></div>
            <div class="col-6 col-sm-4 col-md-4 text-success" style="text-align: center;"><a class="link-success" href="/admin" style="text-decoration: none;"><i class="fas fa-list-alt text-success" style="font-size: 60px;"></i>
                    <p class="text-dark">ใบส่งของ</p>
                </a></div>
            <div class="col-6 col-sm-4 col-md-4 text-success" style="text-align: center;"><a class="link-success" href="/admin" style="text-decoration: none;"><i class="fas fa-tasks text-success" style="font-size: 60px;"></i>
                    <p class="text-dark">ตรวจสอบสลิป</p>
                </a></div>
            <div class="col-6 col-sm-4 col-md-4 text-warning" style="text-align: center;"><a class="link-warning" href="/admin" style="text-decoration: none;"><i class="fas fa-home text-success" style="font-size: 60px;"></i>
                    <p class="text-dark">จัดการร้านค้า</p>
                </a></div>
            <div class="col-6 col-sm-4 col-md-4 text-success" style="text-align: center;"><a class="link-success" href="/admin" style="text-decoration: none;"><i class="fas fa-cash-register text-success" style="font-size: 60px;"></i>
                    <p class="text-dark">รายการ CN</p>
                </a></div>
            <div class="col-6 col-sm-4 col-md-4" style="text-align: center;"><a href="/admin" style="text-decoration: none;"><i class="fas fa-wrench text-success" style="font-size: 60px;"></i>
                    <p class="text-dark">ช่องทางการขาย</p>
                </a></div>
        </div>
    </section>
</div>