<nav class="navbar navbar-dark bg-dark bg-gradient align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
          <div class="sidebar-brand-text mx-3"><span>Admin Area</span></div>
      </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item"><a class="nav-link active" href="/admin/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/""><i class="fa fa-exchange"></i><span>ปรับสต๊อก</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/""><i class="fa fa-rotate-right"></i><span>ใบนับสต๊อก</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/""><i class="fa fa-star-o"></i><span>โปรโมชั่น</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/""><i class="fas fa-book"></i><span>บิลขาย</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/product/"><i class="fas fa-tags"></i><span>จัดการสินค้า</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/"l"><i class="fas fa-list-alt"></i><span>ใบส่งของ</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/"><i class="fas fa-tasks"></i><span>ตรวจสอบสลิป</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/"><i class="fas fa-home"></i><span>จัดการร้านค้า</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/"><i class="fas fa-cash-register"></i><span>รายการ CN</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/"><i class="fas fa-wrench"></i><span>ช่องทางการขาย</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/"><i class="far fa-user-circle"></i><span>ออกจากระบบ</span></a></li>
      </ul>
      <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
  </div>
</nav>