<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="../../assets/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <% include nav %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include nav-header%>
                <div class="container-fluid">
                    <div class="d-flex flex-column" id="content-wrapper-1">
                        <div id="content-2">
                            <div class="container-fluid" style="padding-bottom: 30px;">
                                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                                    <h3 class="text-dark mb-0">ใบนับสต๊อก</h3>
                                </div>
                                <div class="row" style="padding-bottom: 10px;margin-left: -45px;">
                                    <div class="col-12 col-lg-12">
                                        <form class="d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search" method="post" style="width: 100%;">
                                            <div class="input-group"><span class="text-start input-group-text">ร้านค้า</span><input class="form-control" type="search" placeholder="สาขา" autofocus="" autocomplete="on"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </form>
                                    </div>
                                </div>
                                <div></div>
                            </div>
                            <div id="content-1">
                                <section class="d-block">
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">สาขา #Value</p>
                                            <p class="text-primary m-0 fw-bold"></p>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6 text-nowrap">
                                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                                                <option value="10" selected="">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select>&nbsp;</label></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" autofocus=""></label></div>
                                                </div>
                                            </div>
                                            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                                <table class="table my-0" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center"></th>
                                                            <th>Bill Code</th>
                                                            <th class="text-center">Date</th>
                                                            <th class="text-center">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="table-secondary">
                                                            <td class="text-center"><i class="fa fa-list-alt" style="width: 50px;height: 50px;font-size: 50px;color: rgb(55,152,76);"></i></td>
                                                            <td>SR-TS1-1</td>
                                                            <td class="text-center">05/04/2565</td>
                                                            <td class="text-center">-</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><i class="fa fa-list-alt" style="width: 50px;height: 50px;font-size: 50px;color: rgb(55,152,76);"></i></td>
                                                            <td>SR-TS1-2<br></td>
                                                            <td class="text-center">05/04/2565<br></td>
                                                            <td class="text-center">Ordered</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><i class="fa fa-list-alt" style="width: 50px;height: 50px;font-size: 50px;color: rgb(55,152,76);"></i></td>
                                                            <td>SR-TS1-3<br></td>
                                                            <td class="text-center">05/04/2565<br></td>
                                                            <td class="text-center">-</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><i class="fa fa-list-alt" style="width: 50px;height: 50px;font-size: 50px;color: rgb(55,152,76);"></i></td>
                                                            <td>SR-TS1-4<br></td>
                                                            <td class="text-center">05/04/2565<br></td>
                                                            <td class="text-center">Ordered</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><i class="fa fa-list-alt" style="width: 50px;height: 50px;font-size: 50px;color: rgb(55,152,76);"></i></td>
                                                            <td>SR-TS1-1<br></td>
                                                            <td class="text-center">05/04/2565<br></td>
                                                            <td class="text-center">-</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th class="text-center"></th>
                                                            <th>Bill Code</th>
                                                            <th class="text-center">Date</th>
                                                            <th class="text-center">Status</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 align-self-center">
                                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                                        <ul class="pagination">
                                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <footer class="text-center bg-white d-inline-flex mb-auto sticky-footer" style="margin: 1px;">
        <div class="container text-center my-auto">
            <div class="text-center my-auto copyright"><span class="text-center">Copyright © Brand 2022</span></div>
        </div>
    </footer>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="../../assets/js/theme.js"></script>
</body>

</html>